## Haskell ignores
dist-newstyle/

# GHC artifacts
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.aux
*.hp
*.eventlog


## Python ignores
*.pyc

## VS and VS Code ignores
*.log
*.exe
*.suo
*.sdf
*.opensdf
*.swp
Thumbs.db
Debug/
bin/
obj/
.vscode/
logs/

## Node.js ignores
node_modules/
