## Haskell ignores
dist-newstyle/

## Python ignores
*.pyc

## VS and VS Code ignores
*.log
*.exe
*.suo
*.sdf
*.opensdf
*.swp
Thumbs.db
Debug/
bin/
obj/
.vscode/
logs/

## Node.js ignores
node_modules/
